body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:788px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 99, 118, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u2675 {
  position:absolute;
  left:-10px;
  top:0px;
  width:808px;
  height:120px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u2676 {
  position:absolute;
  left:2px;
  top:44px;
  width:804px;
  word-wrap:break-word;
}
#u2677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2677 {
  position:absolute;
  left:693px;
  top:93px;
  width:105px;
  height:20px;
}
#u2678 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  word-wrap:break-word;
}
#u2679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2679 {
  position:absolute;
  left:603px;
  top:93px;
  width:108px;
  height:20px;
}
#u2680 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u2681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2681 {
  position:absolute;
  left:539px;
  top:93px;
  width:93px;
  height:20px;
}
#u2682 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u2683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2683 {
  position:absolute;
  left:465px;
  top:93px;
  width:126px;
  height:20px;
}
#u2684 {
  position:absolute;
  left:2px;
  top:2px;
  width:122px;
  word-wrap:break-word;
}
#u2685 {
  position:absolute;
  left:-2px;
  top:178px;
  width:805px;
  height:160px;
}
#u2686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:78px;
}
#u2686 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:78px;
}
#u2687 {
  position:absolute;
  left:2px;
  top:31px;
  width:156px;
  word-wrap:break-word;
}
#u2688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:78px;
}
#u2688 {
  position:absolute;
  left:160px;
  top:0px;
  width:160px;
  height:78px;
}
#u2689 {
  position:absolute;
  left:2px;
  top:31px;
  width:156px;
  word-wrap:break-word;
}
#u2690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:78px;
}
#u2690 {
  position:absolute;
  left:320px;
  top:0px;
  width:160px;
  height:78px;
}
#u2691 {
  position:absolute;
  left:2px;
  top:31px;
  width:156px;
  word-wrap:break-word;
}
#u2692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:78px;
}
#u2692 {
  position:absolute;
  left:480px;
  top:0px;
  width:160px;
  height:78px;
}
#u2693 {
  position:absolute;
  left:2px;
  top:31px;
  width:156px;
  word-wrap:break-word;
}
#u2694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:78px;
}
#u2694 {
  position:absolute;
  left:640px;
  top:0px;
  width:160px;
  height:78px;
}
#u2695 {
  position:absolute;
  left:2px;
  top:31px;
  width:156px;
  word-wrap:break-word;
}
#u2696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:77px;
}
#u2696 {
  position:absolute;
  left:0px;
  top:78px;
  width:160px;
  height:77px;
}
#u2697 {
  position:absolute;
  left:2px;
  top:30px;
  width:156px;
  word-wrap:break-word;
}
#u2698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:77px;
}
#u2698 {
  position:absolute;
  left:160px;
  top:78px;
  width:160px;
  height:77px;
}
#u2699 {
  position:absolute;
  left:2px;
  top:30px;
  width:156px;
  word-wrap:break-word;
}
#u2700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:77px;
}
#u2700 {
  position:absolute;
  left:320px;
  top:78px;
  width:160px;
  height:77px;
}
#u2701 {
  position:absolute;
  left:2px;
  top:30px;
  width:156px;
  word-wrap:break-word;
}
#u2702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:77px;
}
#u2702 {
  position:absolute;
  left:480px;
  top:78px;
  width:160px;
  height:77px;
}
#u2703 {
  position:absolute;
  left:2px;
  top:30px;
  width:156px;
  word-wrap:break-word;
}
#u2704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:77px;
}
#u2704 {
  position:absolute;
  left:640px;
  top:78px;
  width:160px;
  height:77px;
}
#u2705 {
  position:absolute;
  left:2px;
  top:30px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2706 {
  position:absolute;
  left:355px;
  top:130px;
  width:143px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2707 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u2708 {
  position:absolute;
  left:255px;
  top:372px;
  width:112px;
  height:25px;
}
#u2708_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2709 {
  position:absolute;
  left:664px;
  top:278px;
  width:108px;
  height:28px;
}
#u2710 {
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u2711 {
  position:absolute;
  left:435px;
  top:372px;
  width:112px;
  height:25px;
}
#u2711_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
