body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:619px;
}
#u2486 {
  position:absolute;
  left:0px;
  top:-2px;
  width:800px;
  height:619px;
  opacity:0.9;
}
#u2487 {
  position:absolute;
  left:2px;
  top:302px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:316px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2488 {
  position:absolute;
  left:232px;
  top:185px;
  width:313px;
  height:316px;
  opacity:0.5;
}
#u2489 {
  position:absolute;
  left:2px;
  top:150px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:2px;
}
#u2490 {
  position:absolute;
  left:251px;
  top:268px;
  width:89px;
  height:1px;
  color:#FF0000;
}
#u2491 {
  position:absolute;
  left:2px;
  top:-8px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u2492 {
  position:absolute;
  left:329px;
  top:268px;
  width:200px;
  height:1px;
}
#u2493 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u2494 {
  position:absolute;
  left:279px;
  top:432px;
  width:218px;
  height:40px;
  color:#0000FF;
}
#u2495 {
  position:absolute;
  left:2px;
  top:12px;
  width:214px;
  word-wrap:break-word;
}
#u2497 {
  position:absolute;
  left:279px;
  top:305px;
  width:218px;
  height:25px;
}
#u2497_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2498 {
  position:absolute;
  left:279px;
  top:350px;
  width:218px;
  height:25px;
}
#u2498_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2499 {
  position:absolute;
  left:279px;
  top:391px;
  width:108px;
  height:16px;
}
#u2500 {
  position:absolute;
  left:16px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u2499_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u2501 {
  position:absolute;
  left:426px;
  top:391px;
  width:82px;
  height:23px;
  font-size:12pt;
}
#u2502 {
  position:absolute;
  left:2px;
  top:4px;
  width:78px;
  word-wrap:break-word;
}
#u2503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16pt;
  color:#FF0000;
}
#u2503 {
  position:absolute;
  left:284px;
  top:246px;
  width:45px;
  height:23px;
  font-size:16pt;
  color:#FF0000;
}
#u2504 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u2506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 99, 118, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u2506 {
  position:absolute;
  left:-10px;
  top:0px;
  width:810px;
  height:120px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u2507 {
  position:absolute;
  left:2px;
  top:44px;
  width:806px;
  word-wrap:break-word;
}
