body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
}
#u2137 {
  position:absolute;
  left:0px;
  top:175px;
  width:800px;
  height:33px;
  font-size:15pt;
  text-align:left;
}
#u2138 {
  position:absolute;
  left:2px;
  top:8px;
  width:796px;
  word-wrap:break-word;
}
#u2139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
}
#u2139 {
  position:absolute;
  left:0px;
  top:217px;
  width:800px;
  height:33px;
  font-size:15pt;
  text-align:left;
}
#u2140 {
  position:absolute;
  left:2px;
  top:8px;
  width:796px;
  word-wrap:break-word;
}
#u2141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48pt;
}
#u2141 {
  position:absolute;
  left:305px;
  top:28px;
  width:272px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48pt;
}
#u2142 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u2143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2143 {
  position:absolute;
  left:218px;
  top:497px;
  width:140px;
  height:40px;
}
#u2144 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2145 {
  position:absolute;
  left:413px;
  top:497px;
  width:140px;
  height:40px;
}
#u2146 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15pt;
  text-align:left;
}
#u2147 {
  position:absolute;
  left:0px;
  top:260px;
  width:800px;
  height:212px;
  font-size:15pt;
  text-align:left;
}
#u2148 {
  position:absolute;
  left:2px;
  top:2px;
  width:796px;
  word-wrap:break-word;
}
#u2150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 99, 118, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u2150 {
  position:absolute;
  left:-10px;
  top:0px;
  width:810px;
  height:120px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u2151 {
  position:absolute;
  left:2px;
  top:44px;
  width:806px;
  word-wrap:break-word;
}
#u2152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2152 {
  position:absolute;
  left:662px;
  top:93px;
  width:60px;
  height:20px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2154 {
  position:absolute;
  left:570px;
  top:93px;
  width:64px;
  height:20px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 99, 118, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u2156 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:120px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u2157 {
  position:absolute;
  left:2px;
  top:44px;
  width:806px;
  word-wrap:break-word;
}
#u2158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2158 {
  position:absolute;
  left:709px;
  top:97px;
  width:101px;
  height:20px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2160 {
  position:absolute;
  left:623px;
  top:97px;
  width:94px;
  height:20px;
}
#u2161 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u2162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2162 {
  position:absolute;
  left:565px;
  top:97px;
  width:64px;
  height:20px;
}
#u2163 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u2164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2164 {
  position:absolute;
  left:496px;
  top:97px;
  width:64px;
  height:20px;
}
#u2165 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u2166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25pt;
}
#u2166 {
  position:absolute;
  left:350px;
  top:130px;
  width:101px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25pt;
}
#u2167 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
