body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
}
#u868 {
  position:absolute;
  left:0px;
  top:175px;
  width:800px;
  height:33px;
  font-size:15pt;
  text-align:left;
}
#u869 {
  position:absolute;
  left:2px;
  top:8px;
  width:796px;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
}
#u870 {
  position:absolute;
  left:0px;
  top:217px;
  width:800px;
  height:33px;
  font-size:15pt;
  text-align:left;
}
#u871 {
  position:absolute;
  left:2px;
  top:8px;
  width:796px;
  word-wrap:break-word;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48pt;
}
#u872 {
  position:absolute;
  left:305px;
  top:28px;
  width:272px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48pt;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  position:absolute;
  left:218px;
  top:497px;
  width:140px;
  height:40px;
}
#u875 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u876 {
  position:absolute;
  left:413px;
  top:497px;
  width:140px;
  height:40px;
}
#u877 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15pt;
  text-align:left;
}
#u878 {
  position:absolute;
  left:0px;
  top:260px;
  width:800px;
  height:212px;
  font-size:15pt;
  text-align:left;
}
#u879 {
  position:absolute;
  left:2px;
  top:2px;
  width:796px;
  word-wrap:break-word;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 99, 118, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u881 {
  position:absolute;
  left:-10px;
  top:0px;
  width:810px;
  height:120px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u882 {
  position:absolute;
  left:2px;
  top:44px;
  width:806px;
  word-wrap:break-word;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u883 {
  position:absolute;
  left:662px;
  top:93px;
  width:60px;
  height:20px;
}
#u884 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u885 {
  position:absolute;
  left:570px;
  top:93px;
  width:64px;
  height:20px;
}
#u886 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 99, 118, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:120px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u888 {
  position:absolute;
  left:2px;
  top:44px;
  width:806px;
  word-wrap:break-word;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u889 {
  position:absolute;
  left:709px;
  top:97px;
  width:101px;
  height:20px;
}
#u890 {
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u891 {
  position:absolute;
  left:623px;
  top:97px;
  width:94px;
  height:20px;
}
#u892 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u893 {
  position:absolute;
  left:565px;
  top:97px;
  width:64px;
  height:20px;
}
#u894 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u895 {
  position:absolute;
  left:496px;
  top:97px;
  width:64px;
  height:20px;
}
#u896 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25pt;
}
#u897 {
  position:absolute;
  left:350px;
  top:130px;
  width:101px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25pt;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
