body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:619px;
}
#u1614 {
  position:absolute;
  left:0px;
  top:-2px;
  width:800px;
  height:619px;
  opacity:0.9;
}
#u1615 {
  position:absolute;
  left:2px;
  top:302px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:316px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1616 {
  position:absolute;
  left:232px;
  top:185px;
  width:313px;
  height:316px;
  opacity:0.5;
}
#u1617 {
  position:absolute;
  left:2px;
  top:150px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:2px;
}
#u1618 {
  position:absolute;
  left:251px;
  top:268px;
  width:89px;
  height:1px;
  color:#FF0000;
}
#u1619 {
  position:absolute;
  left:2px;
  top:-8px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1620 {
  position:absolute;
  left:329px;
  top:268px;
  width:200px;
  height:1px;
}
#u1621 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1622 {
  position:absolute;
  left:279px;
  top:432px;
  width:218px;
  height:40px;
  color:#0000FF;
}
#u1623 {
  position:absolute;
  left:2px;
  top:12px;
  width:214px;
  word-wrap:break-word;
}
#u1625 {
  position:absolute;
  left:279px;
  top:305px;
  width:218px;
  height:25px;
}
#u1625_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1626 {
  position:absolute;
  left:279px;
  top:350px;
  width:218px;
  height:25px;
}
#u1626_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1627 {
  position:absolute;
  left:279px;
  top:391px;
  width:108px;
  height:16px;
}
#u1628 {
  position:absolute;
  left:16px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u1627_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u1629 {
  position:absolute;
  left:426px;
  top:391px;
  width:82px;
  height:23px;
  font-size:12pt;
}
#u1630 {
  position:absolute;
  left:2px;
  top:4px;
  width:78px;
  word-wrap:break-word;
}
#u1631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16pt;
  color:#FF0000;
}
#u1631 {
  position:absolute;
  left:284px;
  top:246px;
  width:45px;
  height:23px;
  font-size:16pt;
  color:#FF0000;
}
#u1632 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u1633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1633 {
  position:absolute;
  left:0px;
  top:120px;
  width:140px;
  height:40px;
}
#u1634 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 99, 118, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u1636 {
  position:absolute;
  left:-10px;
  top:0px;
  width:810px;
  height:120px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u1637 {
  position:absolute;
  left:2px;
  top:44px;
  width:806px;
  word-wrap:break-word;
}
#u1638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1638 {
  position:absolute;
  left:736px;
  top:97px;
  width:64px;
  height:20px;
}
#u1639 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
