body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:86px;
  background:inherit;
  background-color:rgba(0, 99, 118, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u154 {
  position:absolute;
  left:-10px;
  top:0px;
  width:800px;
  height:86px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u155 {
  position:absolute;
  left:2px;
  top:26px;
  width:796px;
  word-wrap:break-word;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u156 {
  position:absolute;
  left:680px;
  top:62px;
  width:96px;
  height:20px;
}
#u157 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u158 {
  position:absolute;
  left:569px;
  top:62px;
  width:111px;
  height:20px;
}
#u159 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18pt;
}
#u160 {
  position:absolute;
  left:188px;
  top:196px;
  width:47px;
  height:28px;
  font-size:18pt;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18pt;
}
#u162 {
  position:absolute;
  left:103px;
  top:234px;
  width:143px;
  height:28px;
  font-size:18pt;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18pt;
}
#u164 {
  position:absolute;
  left:158px;
  top:282px;
  width:88px;
  height:28px;
  font-size:18pt;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u166 {
  position:absolute;
  left:273px;
  top:143px;
  width:335px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:2px;
}
#u168 {
  position:absolute;
  left:258px;
  top:261px;
  width:264px;
  height:1px;
}
#u169 {
  position:absolute;
  left:2px;
  top:-8px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:2px;
}
#u170 {
  position:absolute;
  left:258px;
  top:309px;
  width:264px;
  height:1px;
}
#u171 {
  position:absolute;
  left:2px;
  top:-8px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u172 {
  position:absolute;
  left:215px;
  top:362px;
  width:164px;
  height:40px;
}
#u173 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u174 {
  position:absolute;
  left:419px;
  top:362px;
  width:164px;
  height:40px;
}
#u175 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
