body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:813px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1981 {
  position:absolute;
  left:660px;
  top:190px;
  width:140px;
  height:25px;
}
#u1981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1982 {
  position:absolute;
  left:660px;
  top:144px;
  width:140px;
  height:25px;
}
#u1982_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1983 {
  position:absolute;
  left:660px;
  top:235px;
  width:140px;
  height:25px;
}
#u1983_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 99, 118, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u1984 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:120px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u1985 {
  position:absolute;
  left:2px;
  top:44px;
  width:806px;
  word-wrap:break-word;
}
#u1986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1986 {
  position:absolute;
  left:707px;
  top:93px;
  width:106px;
  height:20px;
}
#u1987 {
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u1988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1988 {
  position:absolute;
  left:603px;
  top:93px;
  width:137px;
  height:20px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:2px;
  width:133px;
  word-wrap:break-word;
}
#u1990 {
  position:absolute;
  left:15px;
  top:173px;
  width:605px;
  height:64px;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1991 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1993 {
  position:absolute;
  left:200px;
  top:0px;
  width:200px;
  height:30px;
}
#u1994 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1995 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:30px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:29px;
}
#u1997 {
  position:absolute;
  left:0px;
  top:30px;
  width:200px;
  height:29px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:29px;
}
#u1999 {
  position:absolute;
  left:200px;
  top:30px;
  width:200px;
  height:29px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:29px;
}
#u2001 {
  position:absolute;
  left:400px;
  top:30px;
  width:200px;
  height:29px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18pt;
}
#u2003 {
  position:absolute;
  left:202px;
  top:130px;
  width:200px;
  height:20px;
  font-size:18pt;
}
#u2004 {
  position:absolute;
  left:2px;
  top:-1px;
  width:196px;
  word-wrap:break-word;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2005 {
  position:absolute;
  left:530px;
  top:93px;
  width:129px;
  height:20px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2007 {
  position:absolute;
  left:512px;
  top:93px;
  width:52px;
  height:20px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
