body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1878 {
  position:absolute;
  left:660px;
  top:190px;
  width:140px;
  height:25px;
}
#u1878_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1879 {
  position:absolute;
  left:660px;
  top:144px;
  width:140px;
  height:25px;
}
#u1879_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1880 {
  position:absolute;
  left:660px;
  top:235px;
  width:140px;
  height:25px;
}
#u1880_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 99, 118, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u1881 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:120px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u1882 {
  position:absolute;
  left:2px;
  top:44px;
  width:806px;
  word-wrap:break-word;
}
#u1883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1883 {
  position:absolute;
  left:704px;
  top:93px;
  width:106px;
  height:20px;
}
#u1884 {
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u1885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1885 {
  position:absolute;
  left:603px;
  top:93px;
  width:137px;
  height:20px;
}
#u1886 {
  position:absolute;
  left:2px;
  top:2px;
  width:133px;
  word-wrap:break-word;
}
#u1887 {
  position:absolute;
  left:15px;
  top:173px;
  width:605px;
  height:64px;
}
#u1888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1888 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u1890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1890 {
  position:absolute;
  left:200px;
  top:0px;
  width:200px;
  height:30px;
}
#u1891 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u1892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1892 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:30px;
}
#u1893 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u1894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:29px;
}
#u1894 {
  position:absolute;
  left:0px;
  top:30px;
  width:200px;
  height:29px;
}
#u1895 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u1896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:29px;
}
#u1896 {
  position:absolute;
  left:200px;
  top:30px;
  width:200px;
  height:29px;
}
#u1897 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u1898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:29px;
}
#u1898 {
  position:absolute;
  left:400px;
  top:30px;
  width:200px;
  height:29px;
}
#u1899 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18pt;
}
#u1900 {
  position:absolute;
  left:202px;
  top:130px;
  width:200px;
  height:20px;
  font-size:18pt;
}
#u1901 {
  position:absolute;
  left:2px;
  top:-1px;
  width:196px;
  word-wrap:break-word;
}
#u1902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1902 {
  position:absolute;
  left:537px;
  top:93px;
  width:129px;
  height:20px;
}
#u1903 {
  position:absolute;
  left:2px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
