body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:788px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 99, 118, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u2488 {
  position:absolute;
  left:-10px;
  top:0px;
  width:808px;
  height:120px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u2489 {
  position:absolute;
  left:2px;
  top:44px;
  width:804px;
  word-wrap:break-word;
}
#u2490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2490 {
  position:absolute;
  left:706px;
  top:93px;
  width:92px;
  height:20px;
}
#u2491 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u2492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2492 {
  position:absolute;
  left:598px;
  top:93px;
  width:127px;
  height:20px;
}
#u2493 {
  position:absolute;
  left:2px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u2494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2494 {
  position:absolute;
  left:540px;
  top:93px;
  width:93px;
  height:20px;
}
#u2495 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u2496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2496 {
  position:absolute;
  left:476px;
  top:93px;
  width:115px;
  height:20px;
}
#u2497 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u2498 {
  position:absolute;
  left:49px;
  top:184px;
  width:696px;
  height:65px;
}
#u2499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2499 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2500 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2501 {
  position:absolute;
  left:173px;
  top:0px;
  width:173px;
  height:30px;
}
#u2502 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2503 {
  position:absolute;
  left:346px;
  top:0px;
  width:173px;
  height:30px;
}
#u2504 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u2505 {
  position:absolute;
  left:519px;
  top:0px;
  width:172px;
  height:30px;
}
#u2506 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u2507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2507 {
  position:absolute;
  left:0px;
  top:30px;
  width:173px;
  height:30px;
}
#u2508 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2509 {
  position:absolute;
  left:173px;
  top:30px;
  width:173px;
  height:30px;
}
#u2510 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2511 {
  position:absolute;
  left:346px;
  top:30px;
  width:173px;
  height:30px;
}
#u2512 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u2513 {
  position:absolute;
  left:519px;
  top:30px;
  width:172px;
  height:30px;
}
#u2514 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u2515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2515 {
  position:absolute;
  left:358px;
  top:136px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2516 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2517 {
  position:absolute;
  left:358px;
  top:254px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2518 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2519 {
  position:absolute;
  left:158px;
  top:296px;
  width:473px;
  height:154px;
}
#u2519_input {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:154px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2520 {
  position:absolute;
  left:228px;
  top:476px;
  width:140px;
  height:25px;
}
#u2520_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2521 {
  position:absolute;
  left:422px;
  top:476px;
  width:140px;
  height:25px;
}
#u2521_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
