body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:788px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 99, 118, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u2351 {
  position:absolute;
  left:-10px;
  top:0px;
  width:808px;
  height:120px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u2352 {
  position:absolute;
  left:2px;
  top:44px;
  width:804px;
  word-wrap:break-word;
}
#u2353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2353 {
  position:absolute;
  left:706px;
  top:93px;
  width:92px;
  height:20px;
}
#u2354 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u2355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2355 {
  position:absolute;
  left:598px;
  top:93px;
  width:127px;
  height:20px;
}
#u2356 {
  position:absolute;
  left:2px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u2357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2357 {
  position:absolute;
  left:540px;
  top:93px;
  width:93px;
  height:20px;
}
#u2358 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u2359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2359 {
  position:absolute;
  left:476px;
  top:93px;
  width:115px;
  height:20px;
}
#u2360 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u2361 {
  position:absolute;
  left:49px;
  top:184px;
  width:696px;
  height:65px;
}
#u2362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2362 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2363 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2364 {
  position:absolute;
  left:173px;
  top:0px;
  width:173px;
  height:30px;
}
#u2365 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2366 {
  position:absolute;
  left:346px;
  top:0px;
  width:173px;
  height:30px;
}
#u2367 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u2368 {
  position:absolute;
  left:519px;
  top:0px;
  width:172px;
  height:30px;
}
#u2369 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u2370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2370 {
  position:absolute;
  left:0px;
  top:30px;
  width:173px;
  height:30px;
}
#u2371 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2372 {
  position:absolute;
  left:173px;
  top:30px;
  width:173px;
  height:30px;
}
#u2373 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2374 {
  position:absolute;
  left:346px;
  top:30px;
  width:173px;
  height:30px;
}
#u2375 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u2376 {
  position:absolute;
  left:519px;
  top:30px;
  width:172px;
  height:30px;
}
#u2377 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u2378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2378 {
  position:absolute;
  left:358px;
  top:136px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2379 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2380 {
  position:absolute;
  left:358px;
  top:254px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2381 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2382 {
  position:absolute;
  left:158px;
  top:296px;
  width:473px;
  height:154px;
}
#u2382_input {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:154px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2383 {
  position:absolute;
  left:228px;
  top:476px;
  width:140px;
  height:25px;
}
#u2383_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2384 {
  position:absolute;
  left:422px;
  top:476px;
  width:140px;
  height:25px;
}
#u2384_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
