body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:788px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 99, 118, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u2390 {
  position:absolute;
  left:-10px;
  top:0px;
  width:808px;
  height:120px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u2391 {
  position:absolute;
  left:2px;
  top:44px;
  width:804px;
  word-wrap:break-word;
}
#u2392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2392 {
  position:absolute;
  left:706px;
  top:93px;
  width:92px;
  height:20px;
}
#u2393 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u2394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2394 {
  position:absolute;
  left:598px;
  top:93px;
  width:127px;
  height:20px;
}
#u2395 {
  position:absolute;
  left:2px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u2396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2396 {
  position:absolute;
  left:540px;
  top:93px;
  width:93px;
  height:20px;
}
#u2397 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u2398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2398 {
  position:absolute;
  left:476px;
  top:93px;
  width:115px;
  height:20px;
}
#u2399 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u2400 {
  position:absolute;
  left:49px;
  top:184px;
  width:696px;
  height:65px;
}
#u2401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2401 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2402 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2403 {
  position:absolute;
  left:173px;
  top:0px;
  width:173px;
  height:30px;
}
#u2404 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2405 {
  position:absolute;
  left:346px;
  top:0px;
  width:173px;
  height:30px;
}
#u2406 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u2407 {
  position:absolute;
  left:519px;
  top:0px;
  width:172px;
  height:30px;
}
#u2408 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u2409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2409 {
  position:absolute;
  left:0px;
  top:30px;
  width:173px;
  height:30px;
}
#u2410 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2411 {
  position:absolute;
  left:173px;
  top:30px;
  width:173px;
  height:30px;
}
#u2412 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2413 {
  position:absolute;
  left:346px;
  top:30px;
  width:173px;
  height:30px;
}
#u2414 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u2415 {
  position:absolute;
  left:519px;
  top:30px;
  width:172px;
  height:30px;
}
#u2416 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u2417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2417 {
  position:absolute;
  left:358px;
  top:136px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2418 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2419 {
  position:absolute;
  left:358px;
  top:254px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2420 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2421 {
  position:absolute;
  left:158px;
  top:296px;
  width:473px;
  height:154px;
}
#u2421_input {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:154px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2422 {
  position:absolute;
  left:228px;
  top:476px;
  width:140px;
  height:25px;
}
#u2422_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2423 {
  position:absolute;
  left:422px;
  top:476px;
  width:140px;
  height:25px;
}
#u2423_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
