body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:788px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 99, 118, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u2460 {
  position:absolute;
  left:-10px;
  top:0px;
  width:808px;
  height:120px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u2461 {
  position:absolute;
  left:2px;
  top:44px;
  width:804px;
  word-wrap:break-word;
}
#u2462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2462 {
  position:absolute;
  left:706px;
  top:93px;
  width:92px;
  height:20px;
}
#u2463 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u2464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2464 {
  position:absolute;
  left:598px;
  top:93px;
  width:127px;
  height:20px;
}
#u2465 {
  position:absolute;
  left:2px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u2466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2466 {
  position:absolute;
  left:540px;
  top:93px;
  width:93px;
  height:20px;
}
#u2467 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u2468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2468 {
  position:absolute;
  left:476px;
  top:93px;
  width:115px;
  height:20px;
}
#u2469 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u2470 {
  position:absolute;
  left:49px;
  top:184px;
  width:696px;
  height:65px;
}
#u2471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2471 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2472 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2473 {
  position:absolute;
  left:173px;
  top:0px;
  width:173px;
  height:30px;
}
#u2474 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2475 {
  position:absolute;
  left:346px;
  top:0px;
  width:173px;
  height:30px;
}
#u2476 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u2477 {
  position:absolute;
  left:519px;
  top:0px;
  width:172px;
  height:30px;
}
#u2478 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u2479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2479 {
  position:absolute;
  left:0px;
  top:30px;
  width:173px;
  height:30px;
}
#u2480 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2481 {
  position:absolute;
  left:173px;
  top:30px;
  width:173px;
  height:30px;
}
#u2482 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2483 {
  position:absolute;
  left:346px;
  top:30px;
  width:173px;
  height:30px;
}
#u2484 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u2485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u2485 {
  position:absolute;
  left:519px;
  top:30px;
  width:172px;
  height:30px;
}
#u2486 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u2487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2487 {
  position:absolute;
  left:358px;
  top:136px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2488 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2489 {
  position:absolute;
  left:358px;
  top:254px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2490 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2491 {
  position:absolute;
  left:158px;
  top:296px;
  width:473px;
  height:154px;
}
#u2491_input {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:154px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2492 {
  position:absolute;
  left:228px;
  top:476px;
  width:140px;
  height:25px;
}
#u2492_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2493 {
  position:absolute;
  left:422px;
  top:476px;
  width:140px;
  height:25px;
}
#u2493_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
