.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32pt;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24pt;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18pt;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14pt;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10pt;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._文本链接 {
  color:#0000FF;
}
._鼠标悬停文本链接时 {
}
._鼠标按下文本链接时 {
}
.box_1 {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#FFFFFF;
}
._图片 {
}
.box_3 {
  font-size:6pt;
  color:#FFFFFF;
}
.image {
}
.label {
  font-size:14pt;
  text-align:left;
}
.line {
}
.box_2 {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
._流程形状 {
}
.checkbox {
  text-align:left;
}
.html_button {
  text-align:center;
}
.tree_node {
  text-align:left;
}
.table_cell {
}
.menu_item {
}
.sticky_3 {
  text-align:left;
}
