body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:788px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 99, 118, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u976 {
  position:absolute;
  left:-10px;
  top:0px;
  width:808px;
  height:120px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u977 {
  position:absolute;
  left:2px;
  top:44px;
  width:804px;
  word-wrap:break-word;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u978 {
  position:absolute;
  left:708px;
  top:93px;
  width:90px;
  height:20px;
}
#u979 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u980 {
  position:absolute;
  left:622px;
  top:93px;
  width:97px;
  height:20px;
}
#u981 {
  position:absolute;
  left:2px;
  top:2px;
  width:93px;
  word-wrap:break-word;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u982 {
  position:absolute;
  left:544px;
  top:93px;
  width:87px;
  height:20px;
}
#u983 {
  position:absolute;
  left:2px;
  top:2px;
  width:83px;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u984 {
  position:absolute;
  left:441px;
  top:93px;
  width:116px;
  height:20px;
}
#u985 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  word-wrap:break-word;
}
#u986 {
  position:absolute;
  left:49px;
  top:184px;
  width:696px;
  height:65px;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u988 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u989 {
  position:absolute;
  left:173px;
  top:0px;
  width:173px;
  height:30px;
}
#u990 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u991 {
  position:absolute;
  left:346px;
  top:0px;
  width:173px;
  height:30px;
}
#u992 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u993 {
  position:absolute;
  left:519px;
  top:0px;
  width:172px;
  height:30px;
}
#u994 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u995 {
  position:absolute;
  left:0px;
  top:30px;
  width:173px;
  height:30px;
}
#u996 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u997 {
  position:absolute;
  left:173px;
  top:30px;
  width:173px;
  height:30px;
}
#u998 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u999 {
  position:absolute;
  left:346px;
  top:30px;
  width:173px;
  height:30px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u1001 {
  position:absolute;
  left:519px;
  top:30px;
  width:172px;
  height:30px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1003 {
  position:absolute;
  left:358px;
  top:136px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1005 {
  position:absolute;
  left:358px;
  top:254px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1006 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1007 {
  position:absolute;
  left:158px;
  top:296px;
  width:473px;
  height:154px;
}
#u1007_input {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:154px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1008 {
  position:absolute;
  left:228px;
  top:476px;
  width:140px;
  height:25px;
}
#u1008_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1009 {
  position:absolute;
  left:422px;
  top:476px;
  width:140px;
  height:25px;
}
#u1009_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
