body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
}
#u1739 {
  position:absolute;
  left:0px;
  top:175px;
  width:800px;
  height:33px;
  font-size:15pt;
  text-align:left;
}
#u1740 {
  position:absolute;
  left:2px;
  top:8px;
  width:796px;
  word-wrap:break-word;
}
#u1741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
}
#u1741 {
  position:absolute;
  left:0px;
  top:217px;
  width:800px;
  height:33px;
  font-size:15pt;
  text-align:left;
}
#u1742 {
  position:absolute;
  left:2px;
  top:8px;
  width:796px;
  word-wrap:break-word;
}
#u1743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48pt;
}
#u1743 {
  position:absolute;
  left:305px;
  top:28px;
  width:272px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48pt;
}
#u1744 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u1745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1745 {
  position:absolute;
  left:218px;
  top:497px;
  width:140px;
  height:40px;
}
#u1746 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1747 {
  position:absolute;
  left:413px;
  top:497px;
  width:140px;
  height:40px;
}
#u1748 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15pt;
  text-align:left;
}
#u1749 {
  position:absolute;
  left:0px;
  top:260px;
  width:800px;
  height:212px;
  font-size:15pt;
  text-align:left;
}
#u1750 {
  position:absolute;
  left:2px;
  top:2px;
  width:796px;
  word-wrap:break-word;
}
#u1752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 99, 118, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u1752 {
  position:absolute;
  left:-10px;
  top:0px;
  width:810px;
  height:120px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u1753 {
  position:absolute;
  left:2px;
  top:44px;
  width:806px;
  word-wrap:break-word;
}
#u1754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1754 {
  position:absolute;
  left:662px;
  top:93px;
  width:60px;
  height:20px;
}
#u1755 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u1756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1756 {
  position:absolute;
  left:570px;
  top:93px;
  width:64px;
  height:20px;
}
#u1757 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u1758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 99, 118, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u1758 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:120px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u1759 {
  position:absolute;
  left:2px;
  top:44px;
  width:806px;
  word-wrap:break-word;
}
#u1760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1760 {
  position:absolute;
  left:709px;
  top:97px;
  width:101px;
  height:20px;
}
#u1761 {
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u1762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1762 {
  position:absolute;
  left:623px;
  top:97px;
  width:94px;
  height:20px;
}
#u1763 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u1764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1764 {
  position:absolute;
  left:565px;
  top:97px;
  width:64px;
  height:20px;
}
#u1765 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u1766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1766 {
  position:absolute;
  left:496px;
  top:97px;
  width:64px;
  height:20px;
}
#u1767 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u1768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25pt;
}
#u1768 {
  position:absolute;
  left:350px;
  top:130px;
  width:101px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25pt;
}
#u1769 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
