body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
}
#u1612 {
  position:absolute;
  left:0px;
  top:175px;
  width:800px;
  height:33px;
  font-size:15pt;
  text-align:left;
}
#u1613 {
  position:absolute;
  left:2px;
  top:8px;
  width:796px;
  word-wrap:break-word;
}
#u1614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
}
#u1614 {
  position:absolute;
  left:0px;
  top:217px;
  width:800px;
  height:33px;
  font-size:15pt;
  text-align:left;
}
#u1615 {
  position:absolute;
  left:2px;
  top:8px;
  width:796px;
  word-wrap:break-word;
}
#u1616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48pt;
}
#u1616 {
  position:absolute;
  left:305px;
  top:28px;
  width:272px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48pt;
}
#u1617 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u1618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1618 {
  position:absolute;
  left:218px;
  top:497px;
  width:140px;
  height:40px;
}
#u1619 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1620 {
  position:absolute;
  left:413px;
  top:497px;
  width:140px;
  height:40px;
}
#u1621 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15pt;
  text-align:left;
}
#u1622 {
  position:absolute;
  left:0px;
  top:260px;
  width:800px;
  height:212px;
  font-size:15pt;
  text-align:left;
}
#u1623 {
  position:absolute;
  left:2px;
  top:2px;
  width:796px;
  word-wrap:break-word;
}
#u1625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 99, 118, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u1625 {
  position:absolute;
  left:-10px;
  top:0px;
  width:810px;
  height:120px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u1626 {
  position:absolute;
  left:2px;
  top:44px;
  width:806px;
  word-wrap:break-word;
}
#u1627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1627 {
  position:absolute;
  left:662px;
  top:93px;
  width:60px;
  height:20px;
}
#u1628 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u1629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1629 {
  position:absolute;
  left:570px;
  top:93px;
  width:64px;
  height:20px;
}
#u1630 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u1631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 99, 118, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u1631 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:120px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u1632 {
  position:absolute;
  left:2px;
  top:44px;
  width:806px;
  word-wrap:break-word;
}
#u1633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1633 {
  position:absolute;
  left:709px;
  top:97px;
  width:101px;
  height:20px;
}
#u1634 {
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u1635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1635 {
  position:absolute;
  left:623px;
  top:97px;
  width:94px;
  height:20px;
}
#u1636 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u1637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1637 {
  position:absolute;
  left:565px;
  top:97px;
  width:64px;
  height:20px;
}
#u1638 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u1639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1639 {
  position:absolute;
  left:496px;
  top:97px;
  width:64px;
  height:20px;
}
#u1640 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u1641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25pt;
}
#u1641 {
  position:absolute;
  left:350px;
  top:130px;
  width:101px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25pt;
}
#u1642 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
