body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:619px;
}
#u743 {
  position:absolute;
  left:0px;
  top:-2px;
  width:800px;
  height:619px;
  opacity:0.9;
}
#u744 {
  position:absolute;
  left:2px;
  top:302px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:316px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u745 {
  position:absolute;
  left:232px;
  top:185px;
  width:313px;
  height:316px;
  opacity:0.5;
}
#u746 {
  position:absolute;
  left:2px;
  top:150px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:2px;
}
#u747 {
  position:absolute;
  left:251px;
  top:268px;
  width:89px;
  height:1px;
  color:#FF0000;
}
#u748 {
  position:absolute;
  left:2px;
  top:-8px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u749 {
  position:absolute;
  left:329px;
  top:268px;
  width:200px;
  height:1px;
}
#u750 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u751 {
  position:absolute;
  left:279px;
  top:432px;
  width:218px;
  height:40px;
  color:#0000FF;
}
#u752 {
  position:absolute;
  left:2px;
  top:12px;
  width:214px;
  word-wrap:break-word;
}
#u754 {
  position:absolute;
  left:279px;
  top:305px;
  width:218px;
  height:25px;
}
#u754_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u755 {
  position:absolute;
  left:279px;
  top:350px;
  width:218px;
  height:25px;
}
#u755_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13pt;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u756 {
  position:absolute;
  left:279px;
  top:391px;
  width:108px;
  height:16px;
}
#u757 {
  position:absolute;
  left:16px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u756_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u758 {
  position:absolute;
  left:426px;
  top:391px;
  width:82px;
  height:23px;
  font-size:12pt;
}
#u759 {
  position:absolute;
  left:2px;
  top:4px;
  width:78px;
  word-wrap:break-word;
}
#u760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16pt;
  color:#FF0000;
}
#u760 {
  position:absolute;
  left:284px;
  top:246px;
  width:45px;
  height:23px;
  font-size:16pt;
  color:#FF0000;
}
#u761 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u762 {
  position:absolute;
  left:0px;
  top:120px;
  width:130px;
  height:40px;
}
#u763 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 99, 118, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u765 {
  position:absolute;
  left:-10px;
  top:0px;
  width:810px;
  height:120px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28pt;
  color:#FFFFFF;
}
#u766 {
  position:absolute;
  left:2px;
  top:44px;
  width:806px;
  word-wrap:break-word;
}
#u767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u767 {
  position:absolute;
  left:736px;
  top:97px;
  width:64px;
  height:20px;
}
#u768 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
